# Exploring Hacker News Posts

## 1. Introduction

In this project, we'll work with a data set of submissions to popular technology site Hacker News. Hacker News is a site started by the startup incubator Y Combinator, where user-submitted stories (known as "posts") are voted and commented upon, similar to reddit. Hacker News is extremely popular in technology and startup circles, and posts that make it to the top of Hacker News' listings can get hundreds of thousands of visitors as a result.

We're specifically interested in posts whose titles begin with either Ask HN or Show HN. Users submit Ask HN posts to ask the Hacker News community a specific question, likewise, users submit Show HN posts to show the Hacker News community a project, product, or just generally something interesting.

We'll compare these two types of posts to determine the following:

- Do Ask HN or Show HN receive more comments on average?
- Do posts created at a certain time receive more comments on average?

In [1]:
# Lecture du jeu de données hacker_news.csv

from csv import reader

hn = list(reader(open('hacker_news.csv',encoding="utf8")))

In [2]:
# Affichage des 5 premiéres lignes de hacker_news.csv

hn[0:5]

[['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at'],
 ['12224879',
  'Interactive Dynamic Video',
  'http://www.interactivedynamicvideo.com/',
  '386',
  '52',
  'ne0phyte',
  '8/4/2016 11:52'],
 ['10975351',
  'How to Use Open Source and Shut the Fuck Up at the Same Time',
  'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/',
  '39',
  '10',
  'josep2',
  '1/26/2016 19:30'],
 ['11964716',
  "Florida DJs May Face Felony for April Fools' Water Joke",
  'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/',
  '2',
  '1',
  'vezycash',
  '6/23/2016 22:20'],
 ['11919867',
  'Technology ventures: From Idea to Enterprise',
  'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429',
  '3',
  '1',
  'hswarna',
  '6/17/2016 0:01']]

## 2. Removing Headers from a List of Lists

In [3]:
# first row extraction of the dataset

headers = hn[0]
del(hn[0])

In [4]:
# 'headers' displaying

headers

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']

In [5]:
# Checking if 'headers' is removing from the dataset

hn[0:5]

[['12224879',
  'Interactive Dynamic Video',
  'http://www.interactivedynamicvideo.com/',
  '386',
  '52',
  'ne0phyte',
  '8/4/2016 11:52'],
 ['10975351',
  'How to Use Open Source and Shut the Fuck Up at the Same Time',
  'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/',
  '39',
  '10',
  'josep2',
  '1/26/2016 19:30'],
 ['11964716',
  "Florida DJs May Face Felony for April Fools' Water Joke",
  'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/',
  '2',
  '1',
  'vezycash',
  '6/23/2016 22:20'],
 ['11919867',
  'Technology ventures: From Idea to Enterprise',
  'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429',
  '3',
  '1',
  'hswarna',
  '6/17/2016 0:01'],
 ['10301696',
  'Note by Note: The Making of Steinway L1037 (2007)',
  'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0',
  '8',
  '2',
  'walterbell',
  '9/30/2015 4:12']]

## 3. Extracting Ask HN and Show HN Posts

Now that we've removed the headers from hn, we're ready to filter our data. Since we're only concerned with post titles beginning with Ask HN or Show HN, we'll create new lists of lists containing just the data for those titles :

In [15]:
ask_posts = []  #contain post titles beginning witg 'Ask HN'
show_posts = [] #contain post titles beginning witg 'Show HN'
other_posts = [] #contain other post titles

for row in hn :
    title = row[1]
    if title.lower().startswith('ask hn') == True :
        ask_posts.append(row)
    elif title.lower().startswith('show hn') == True :
        show_posts.append(row)
    else :
        other_posts.append(row)

In [16]:
len(ask_posts)

1744

In [17]:
len(show_posts)

1162

In [18]:
len(other_posts)

17194

## 4. Calculating the Average Number of Comments for Ask HN and Show HN Posts

Let's determine if ask posts or show posts receive more comments on average :

### 4.1 the average number of comments on ask posts

In [31]:
total_ask_comments = 0 

for row in ask_posts :
    num_comments = row[4]   
    total_ask_comments += int(num_comments)

In [32]:
total_ask_comments # total number of comments in ask posts

24483

In [29]:
avg_ask_comments = total_ask_comments / len(ask_posts)

In [30]:
avg_ask_comments # average number of comments on ask posts

14.038417431192661

### 4.2 The average number of comments on show posts

In [33]:
total_show_comments = 0 

for row in show_posts :
    num_comments = row[4]   
    total_show_comments += int(num_comments)

In [34]:
total_show_comments # total number of comments in show posts

11988

In [35]:
avg_show_comments = total_show_comments / len(show_posts)

In [36]:
avg_show_comments # average number of comments on show posts

10.31669535283993

### 4.3 Conclusions

We can see that the average number of comments on ask posts is higher than the average numer of comments on show posts.

## 5. Finding the Amount of Ask Posts and Comments by Hour Created

In [38]:
import datetime as dt

result_list = []

for row in ask_posts :
    result_list.append([row[6],row[4]])

In [77]:
counts_by_hour = {}
comments_by_hour = {}

for element in result_list :
    hr = dt.datetime.strptime(element[0], "%m/%d/%Y %H:%M").hour
    
    if hr not in counts_by_hour :
        counts_by_hour[hr] = 1
        comments_by_hour[hr] = int(element[1])
        
    if hr in counts_by_hour :
        counts_by_hour[hr] += 1
        comments_by_hour[hr] += int(element[1])

In [78]:
comments_by_hour

{9: 257,
 13: 1282,
 10: 794,
 14: 1419,
 16: 1831,
 23: 544,
 12: 691,
 17: 1147,
 15: 4478,
 21: 1749,
 20: 1724,
 2: 1384,
 18: 1441,
 3: 422,
 5: 493,
 19: 1191,
 1: 716,
 22: 481,
 8: 497,
 4: 340,
 0: 457,
 6: 398,
 7: 269,
 11: 643}

In [79]:
counts_by_hour

{9: 46,
 13: 86,
 10: 60,
 14: 108,
 16: 109,
 23: 69,
 12: 74,
 17: 101,
 15: 117,
 21: 110,
 20: 81,
 2: 59,
 18: 110,
 3: 55,
 5: 47,
 19: 111,
 1: 61,
 22: 72,
 8: 49,
 4: 48,
 0: 56,
 6: 45,
 7: 35,
 11: 59}

## 6. Calculating the Average Number of Comments for Ask HN Posts by Hour

In [85]:
avg_by_hour = []

for element in comments_by_hour :
    avg_by_hour.append([element,comments_by_hour[element] / counts_by_hour[element]])

In [86]:
avg_by_hour #Average Number of Comments for Ask HN Posts by Hour

[[9, 5.586956521739131],
 [13, 14.906976744186046],
 [10, 13.233333333333333],
 [14, 13.13888888888889],
 [16, 16.798165137614678],
 [23, 7.884057971014493],
 [12, 9.337837837837839],
 [17, 11.356435643564357],
 [15, 38.27350427350427],
 [21, 15.9],
 [20, 21.28395061728395],
 [2, 23.45762711864407],
 [18, 13.1],
 [3, 7.672727272727273],
 [5, 10.48936170212766],
 [19, 10.72972972972973],
 [1, 11.737704918032787],
 [22, 6.680555555555555],
 [8, 10.142857142857142],
 [4, 7.083333333333333],
 [0, 8.160714285714286],
 [6, 8.844444444444445],
 [7, 7.685714285714286],
 [11, 10.898305084745763]]